
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.quiz-header {
  margin: 0;
  background-color: #04adc4;
  padding: 1.5rem;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem;
  background-color: white;

}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 1rem;
}

ul li label {
  cursor: pointer;
}


  button {
    background-color: #04adc4;
    color: white;
    border: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #44b927;
    transform: scale(1.05);
  }

  button:focus {
    outline: none;
    background-color: #44b927;
  }

  button:active {
    transform: scale(0.95);
  }

  #result {
    display: none;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  #congratulations {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }

#retry {
  width: 15%;
  
}
